In [1]:
pip install bs4

Requirement already satisfied: bs4 in c:\users\yashika\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\yashika\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\yashika\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install requests

Requirement already satisfied: requests in c:\users\yashika\anaconda3\lib\site-packages (2.28.1)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\yashika\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\yashika\anaconda3\lib\site-packages (from requests) (2022.9.14)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\yashika\anaconda3\lib\site-packages (from requests) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in c:\users\yashika\anaconda3\lib\site-packages (from requests) (3.3)
Note: you may need to restart the kernel to use updated packages.

In [3]:
from bs4 import BeautifulSoup

In [4]:
import requests

Question 1

In [5]:
url = 'https://www.wikipedia.org/'

In [6]:
page = requests.get(url)
page

In [8]:
headers= []
for i in soup.find_all ('strong'):
    headers.append(i.text)
headers

['The Free Encyclopedia',
 'English',
 'Русский',
 '日本語',
 'Deutsch',
 'Français',
 'Español',
 'Italiano',
 '中文',
 'فارسی',
 'Polski',
 '\n\nDownload Wikipedia for Android or iOS\n\n']

In [9]:
import pandas as pd 
df = pd.DataFrame({'Headers':headers})
df.head(11)

                  Headers
0   The Free Encyclopedia
1                 English
2                 Русский
3                     日本語
4                 Deutsch
5                Français
6                 Español
7                Italiano
8                      中文
9                   فارسی
10                 Polski

Question 2

In [10]:
page = requests.get('https://www.imdb.com/list/ls055386972/')
page

In [12]:
name = []
for i in soup.find_all('h3', class_="lister-item-header"):
    name.append(i.text.split('\n')[2])
name

['The Godfather',
 "Schindler's List",
 '12 Angry Men',
 'La vita è bella',
 'Il buono, il brutto, il cattivo',
 'The Shawshank Redemption',
 'The Pursuit of Happyness',
 'Shichinin no samurai',
 'The Intouchables',
 'Central do Brasil',
 'Requiem for a Dream',
 'A Beautiful Mind',
 "Hachi: A Dog's Tale",
 'Taken',
 'Yeopgijeogin geunyeo',
 'Amores perros',
 'The Shining',
 'Apocalypto',
 'Gladiator',
 'Cast Away',
 'The Dark Knight',
 'The Pianist',
 'Titanic',
 'Bin-jip',
 'Braveheart',
 "It's a Wonderful Life",
 'Bom yeoreum gaeul gyeoul geurigo bom',
 'Alien',
 'Salinui chueok',
 'Vozvrashchenie',
 'Ang-ma-reul bo-at-da',
 'Bacheha-Ye aseman',
 'Jodaeiye Nader az Simin',
 'The Sixth Sense',
 'Nae meorisokui jiwoogae',
 'Okuribito',
 'Wo de fu qin mu qin',
 'Saving Private Ryan',
 'The Bridge on the River Kwai',
 'Ben-Hur',
 'The Exorcist',
 'El secreto de sus ojos',
 'Léon',
 'The Green Mile',
 'Gran Torino',
 'Kill Bill: Vol. 1',
 'Jurassic Park',
 'Terminator 2: Judgment Day',
 'Back to the Future',
 'Finding Nemo']

In [13]:
ratings = []
for i in soup.find_all('div', class_="ipl-rating-star small"):
    ratings.append(i.text.split('\n')[8])
ratings

['9.2',
 '9',
 '9',
 '8.6',
 '8.8',
 '9.3',
 '8',
 '8.6',
 '8.5',
 '8',
 '8.3',
 '8.2',
 '8.1',
 '7.8',
 '8',
 '8.1',
 '8.4',
 '7.8',
 '8.5',
 '7.8',
 '9',
 '8.5',
 '7.9',
 '7.9',
 '8.4',
 '8.6',
 '8',
 '8.5',
 '8.1',
 '7.9',
 '7.8',
 '8.2',
 '8.3',
 '8.2',
 '8.1',
 '8',
 '7.8',
 '8.6',
 '8.2',
 '8.1',
 '8.1',
 '8.2',
 '8.5',
 '8.6',
 '8.1',
 '8.2',
 '8.2',
 '8.6',
 '8.5',
 '8.2']

In [14]:
year = []
for i in soup.find_all('span', class_= "lister-item-year text-muted unbold"):
    year.append(i.text)
year

['(1972)',
 '(1993)',
 '(1957)',
 '(1997)',
 '(1966)',
 '(1994)',
 '(2006)',
 '(1954)',
 '(2011)',
 '(1998)',
 '(2000)',
 '(2001)',
 '(2009)',
 '(I) (2008)',
 '(2001)',
 '(2000)',
 '(1980)',
 '(2006)',
 '(2000)',
 '(2000)',
 '(2008)',
 '(2002)',
 '(1997)',
 '(2004)',
 '(1995)',
 '(1946)',
 '(2003)',
 '(1979)',
 '(2003)',
 '(2003)',
 '(2010)',
 '(1997)',
 '(2011)',
 '(1999)',
 '(2004)',
 '(2008)',
 '(1999)',
 '(1998)',
 '(1957)',
 '(1959)',
 '(1973)',
 '(2009)',
 '(1994)',
 '(1999)',
 '(2008)',
 '(2003)',
 '(1993)',
 '(1991)',
 '(1985)',
 '(2003)']

In [15]:
import pandas as pd
df = pd.DataFrame({'Name':name, 'Ratings':ratings, 'Year of Release':year})
df

                                    Name Ratings Year of Release
0                          The Godfather     9.2          (1972)
1                       Schindler's List       9          (1993)
2                           12 Angry Men       9          (1957)
3                        La vita è bella     8.6          (1997)
4        Il buono, il brutto, il cattivo     8.8          (1966)
5               The Shawshank Redemption     9.3          (1994)
6               The Pursuit of Happyness       8          (2006)
7                   Shichinin no samurai     8.6          (1954)
8                       The Intouchables     8.5          (2011)
9                      Central do Brasil       8          (1998)
10                   Requiem for a Dream     8.3          (2000)
11                      A Beautiful Mind     8.2          (2001)
12                   Hachi: A Dog's Tale     8.1          (2009)
13                                 Taken     7.8      (I) (2008)
14                  Yeopgijeogin geunyeo       8          (2001)
15                         Amores perros     8.1          (2000)
16                           The Shining     8.4          (1980)
17                            Apocalypto     7.8          (2006)
18                             Gladiator     8.5          (2000)
19                             Cast Away     7.8          (2000)
20                       The Dark Knight       9          (2008)
21                           The Pianist     8.5          (2002)
22                               Titanic     7.9          (1997)
23                               Bin-jip     7.9          (2004)
24                            Braveheart     8.4          (1995)
25                 It's a Wonderful Life     8.6          (1946)
26  Bom yeoreum gaeul gyeoul geurigo bom       8          (2003)
27                                 Alien     8.5          (1979)
28                        Salinui chueok     8.1          (2003)
29                        Vozvrashchenie     7.9          (2003)
30                  Ang-ma-reul bo-at-da     7.8          (2010)
31                     Bacheha-Ye aseman     8.2          (1997)
32               Jodaeiye Nader az Simin     8.3          (2011)
33                       The Sixth Sense     8.2          (1999)
34               Nae meorisokui jiwoogae     8.1          (2004)
35                             Okuribito       8          (2008)
36                   Wo de fu qin mu qin     7.8          (1999)
37                   Saving Private Ryan     8.6          (1998)
38          The Bridge on the River Kwai     8.2          (1957)
39                               Ben-Hur     8.1          (1959)
40                          The Exorcist     8.1          (1973)
41                El secreto de sus ojos     8.2          (2009)
42                                  Léon     8.5          (1994)
43                        The Green Mile     8.6          (1999)
44                           Gran Torino     8.1          (2008)
45                     Kill Bill: Vol. 1     8.2          (2003)
46                         Jurassic Park     8.2          (1993)
47            Terminator 2: Judgment Day     8.6          (1991)
48                    Back to the Future     8.5          (1985)
49                          Finding Nemo     8.2          (2003)

Question 3

In [16]:
page = requests.get('https://www.imdb.com/india/top-rated-indian-movies/')
page

In [18]:
movie_name = []
for i in soup.find_all('td', class_="titleColumn"):
    movie_name.append(i.text.split('\n')[2])
movie_name

['      Ramayana: The Legend of Prince Rama',
 '      Rocketry: The Nambi Effect',
 '      Nayakan',
 '      Gol Maal',
 '      Anbe Sivam',
 '      777 Charlie',
 '      Jai Bhim',
 '      Pariyerum Perumal',
 '      3 Idiots',
 '      Apur Sansar',
 '      Manichitrathazhu',
 '      #Home',
 '      Soorarai Pottru',
 '      Black Friday',
 '      Kumbalangi Nights',
 '      C/o Kancharapalem',
 '      Taare Zameen Par',
 '      Kireedam',
 '      Dangal',
 '      Kaithi',
 '      Jersey',
 '      96',
 '      Maya Bazaar',
 '      Natsamrat',
 '      Sita Ramam',
 '      Drishyam 2',
 '      Asuran',
 '      Thevar Magan',
 '      Visaaranai',
 '      Sarpatta Parambarai',
 '      Thalapathi',
 '      Pather Panchali',
 '      Nadodikkattu',
 '      Drishyam',
 '      Jaane Bhi Do Yaaro',
 '      Thani Oruvan',
 '      Sardar Udham',
 '      Aparajito',
 '      Vada Chennai',
 '      Khosla Ka Ghosla!',
 '      Anniyan',
 '      Ratsasan',
 '      Chupke Chupke',
 '      Gangs of Wasseypur',
 '      Peranbu',
 '      Drishyam',
 '      Bangalore Days',
 '      Mahanati',
 '      Satya',
 '      Premam',
 '      Agent Sai Srinivasa Athreya',
 '      Devasuram',
 '      Super Deluxe',
 '      Bhaag Milkha Bhaag',
 '      Tumbbad',
 '      Andhadhun',
 '      Vikram Vedha',
 '      Guide',
 '      Chithram',
 '      Zindagi Na Milegi Dobara',
 '      Chhichhore',
 '      Sairat',
 '      Kannathil Muthamittal',
 '      Vikram',
 '      Shahid',
 '      Iruvar',
 '      Paan Singh Tomar',
 '      Aruvi',
 '      Swades: We, the People',
 '      Spadikam',
 '      Munna Bhai M.B.B.S.',
 '      Chak De! India',
 '      Uri: The Surgical Strike',
 '      Pyaasa',
 '      Mudhalvan',
 '      Black',
 '      Jo Jeeta Wohi Sikandar',
 '      Hera Pheri',
 '      Papanasam',
 '      Lagaan: Once Upon a Time in India',
 '      Pudhu Pettai',
 '      Dhuruvangal Pathinaaru',
 '      PK',
 '      Drishyam 2',
 '      Mandela',
 '      Queen',
 '      Article 15',
 '      Talvar',
 '      OMG: Oh My God!',
 '      Soodhu Kavvum',
 '      Sarfarosh',
 '      Sholay',
 '      Udaan',
 '      Barfi!',
 '      Jigarthanda',
 '      Kaakkaa Muttai',
 '      The Legend of Bhagat Singh',
 '      Ustad Hotel',
 '      Theeran Adhigaaram Ondru',
 '      Baahubali 2: The Conclusion',
 '      Rang De Basanti',
 '      Jana Gana Mana',
 '      Angoor',
 '      Kahaani',
 '      Masaan',
 '      Maheshinte Prathikaaram',
 '      A Wednesday',
 '      Virumandi',
 '      Dil Chahta Hai',
 '      Baasha',
 '      Shershaah',
 '      Lage Raho Munna Bhai',
 '      Iqbal',
 '      Pink',
 '      Roja',
 '      Pithamagan',
 '      Anand',
 '      Nil Battey Sannata',
 '      Lucia',
 '      Kantara',
 '      Kaun Pravin Tambe?',
 '      Charulata',
 '      Bajrangi Bhaijaan',
 '      Omkara',
 '      Oru Vadakkan Veeragatha',
 '      Section 375',
 '      Bommarillu',
 '      Alai Payuthey',
 '      Bombay',
 '      K.G.F: Chapter 1',
 '      Rangasthalam',
 '      Indian',
 '      Dilwale Dulhania Le Jayenge',
 '      Haider',
 '      Athadu',
 '      Mughal-E-Azam',
 '      The Great Indian Kitchen',
 '      Andaz Apna Apna',
 '      Special Chabbis',
 '      Maqbool',
 '      Vaaranam Aayiram',
 '      Padayappa',
 '      Thadam',
 '      Maanaadu',
 '      Gulaal',
 '      Pelli Choopulu',
 '      K.G.F: Chapter 2',
 '      Ulidavaru Kandanthe',
 '      Deewaar',
 '      Company',
 '      Vaastav: The Reality',
 '      Ugly',
 '      Badhaai ho',
 '      Naduvula Konjam Pakkatha Kaanom',
 '      Padosan',
 '      Gully Boy',
 '      Kshanam',
 '      Aadukalam',
 '      Evaru',
 '      My Name Is Khan',
 '      Nayattu',
 '      Dev.D',
 '      Maanagaram',
 '      Major',
 '      Thondimuthalum Dhriksakshiyum',
 '      Pranchiyettan and the Saint',
 '      Kal Ho Naa Ho',
 '      Baishe Srabon',
 '      Garuda Gamana Vrishabha Vahana',
 '      Jab We Met',
 '      Take Off',
 '      Manjhi: The Mountain Man',
 '      Ayyappanum Koshiyum',
 '      Ship of Theseus',
 '      Mukkabaaz',
 '      Charlie',
 '      Border',
 '      Deiva Thirumagal',
 '      Vedam',
 '      M.S. Dhoni: The Untold Story',
 '      Dil Bechara',
 '      Bãhubali: The Beginning',
 '      Salaam Bombay!',
 '      Arjun Reddy',
 '      Padman',
 '      Karnan',
 '      Baby',
 '      Ankhon Dekhi',
 '      Jalsaghar',
 '      Kirik Party',
 '      Vinnaithaandi Varuvaayaa',
 '      Love Today',
 '      Super 30',
 '      The Tashkent Files',
 '      Malik',
 '      Pizza',
 '      Hindi Medium',
 '      Hridayam',
 '      Android Kunjappan Version 5.25',
 '      English Vinglish',
 '      Lakshya',
 '      Johnny Gaddaar',
 '      Hey Ram',
 '      Dor',
 '      Memories',
 '      Joseph',
 '      Airlift',
 '      Anjaam Pathiraa',
 '      RRR (Rise Roar Revolt)',
 '      Kaakha..Kaakha: The Police',
 '      Gangaajal',
 '      Okkadu',
 '      Thuppakki',
 '      Pokiri',
 '      The Lunchbox',
 '      Vettaiyaadu Vilaiyaadu',
 '      Ghilli',
 '      Ab Tak Chhappan',
 '      Mumbai Police',
 '      Manam',
 '      Unnaipol Oruvan',
 '      Veer-Zaara',
 '      RangiTaranga',
 '      Kaththi',
 '      Vicky Donor',
 '      Angamaly Diaries',
 '      Oopiri',
 '      Mother India',
 '      Secret Superstar',
 '      Stanley Ka Dabba',
 '      Thulladha Manamum Thullum',
 '      Nayak: The Real Hero',
 '      Rock On!!',
 '      Mr. India',
 '      Mimi',
 '      Udta Punjab',
 '      Sonchiriya',
 '      Aayirathil Oruvan',
 '      Oru CBI Diary Kurippu',
 '      Badla',
 '      Happy Days',
 '      Dasvidaniya',
 '      Raazi',
 '      Kai po che!',
 '      Poove Unakkaga',
 '      Dia',
 '      Minnal Murali',
 '      Thiruchitrambalam',
 '      Goodachari',
 '      Velaiilla Pattadhari']

In [19]:
release= []
for i in soup.find_all('td', class_="titleColumn"):
    release.append(i.text.split('\n')[3])
release

['(1993)',
 '(2022)',
 '(1987)',
 '(1979)',
 '(2003)',
 '(2022)',
 '(2021)',
 '(2018)',
 '(2009)',
 '(1959)',
 '(1993)',
 '(2021)',
 '(2020)',
 '(2004)',
 '(2019)',
 '(2018)',
 '(2007)',
 '(1989)',
 '(2016)',
 '(2019)',
 '(2019)',
 '(2018)',
 '(1957)',
 '(2016)',
 '(2022)',
 '(2021)',
 '(2019)',
 '(1992)',
 '(2015)',
 '(2021)',
 '(1991)',
 '(1955)',
 '(1987)',
 '(2013)',
 '(1983)',
 '(2015)',
 '(2021)',
 '(1956)',
 '(2018)',
 '(2006)',
 '(2005)',
 '(2018)',
 '(1975)',
 '(2012)',
 '(2018)',
 '(2015)',
 '(2014)',
 '(2018)',
 '(1998)',
 '(2015)',
 '(2019)',
 '(1993)',
 '(2019)',
 '(2013)',
 '(2018)',
 '(2018)',
 '(2017)',
 '(1965)',
 '(1988)',
 '(2011)',
 '(2019)',
 '(2016)',
 '(2002)',
 '(2022)',
 '(2012)',
 '(1997)',
 '(2012)',
 '(2016)',
 '(2004)',
 '(1995)',
 '(2003)',
 '(2007)',
 '(2019)',
 '(1957)',
 '(1999)',
 '(2005)',
 '(1992)',
 '(2000)',
 '(2015)',
 '(2001)',
 '(2006)',
 '(2016)',
 '(2014)',
 '(2022)',
 '(2021)',
 '(2013)',
 '(2019)',
 '(2015)',
 '(2012)',
 '(2013)',
 '(1999)',
 '(1975)',
 '(2010)',
 '(2012)',
 '(2014)',
 '(2014)',
 '(2002)',
 '(2012)',
 '(2017)',
 '(2017)',
 '(2006)',
 '(2022)',
 '(1982)',
 '(2012)',
 '(2015)',
 '(2016)',
 '(2008)',
 '(2004)',
 '(2001)',
 '(1995)',
 '(2021)',
 '(2006)',
 '(2005)',
 '(2016)',
 '(1992)',
 '(2003)',
 '(1971)',
 '(2015)',
 '(2013)',
 '(2022)',
 '(2022)',
 '(1964)',
 '(2015)',
 '(2006)',
 '(1989)',
 '(2019)',
 '(2006)',
 '(2000)',
 '(1995)',
 '(2018)',
 '(2018)',
 '(1996)',
 '(1995)',
 '(2014)',
 '(2005)',
 '(1960)',
 '(2021)',
 '(1994)',
 '(2013)',
 '(2003)',
 '(2008)',
 '(1999)',
 '(2019)',
 '(2021)',
 '(2009)',
 '(2016)',
 '(2022)',
 '(2014)',
 '(1975)',
 '(2002)',
 '(1999)',
 '(2013)',
 '(2018)',
 '(2012)',
 '(1968)',
 '(2019)',
 '(2016)',
 '(2011)',
 '(2019)',
 '(2010)',
 '(2021)',
 '(2009)',
 '(2017)',
 '(2022)',
 '(2017)',
 '(2010)',
 '(2003)',
 '(2011)',
 '(2021)',
 '(2007)',
 '(2017)',
 '(2015)',
 '(2020)',
 '(2012)',
 '(2017)',
 '(2015)',
 '(1997)',
 '(2011)',
 '(2010)',
 '(2016)',
 '(2020)',
 '(2015)',
 '(1988)',
 '(2017)',
 '(2018)',
 '(2021)',
 '(2015)',
 '(2013)',
 '(1958)',
 '(2016)',
 '(2010)',
 '(2022)',
 '(2019)',
 '(2019)',
 '(2021)',
 '(2012)',
 '(2017)',
 '(2022)',
 '(2019)',
 '(2012)',
 '(2004)',
 '(2007)',
 '(2000)',
 '(2006)',
 '(2013)',
 '(2018)',
 '(2016)',
 '(2020)',
 '(2022)',
 '(2003)',
 '(2003)',
 '(2003)',
 '(2012)',
 '(2006)',
 '(2013)',
 '(2006)',
 '(2004)',
 '(2004)',
 '(2013)',
 '(2014)',
 '(2009)',
 '(2004)',
 '(2015)',
 '(2014)',
 '(2012)',
 '(2017)',
 '(2016)',
 '(1957)',
 '(2017)',
 '(2011)',
 '(1999)',
 '(2001)',
 '(2008)',
 '(1987)',
 '(2021)',
 '(2016)',
 '(2019)',
 '(2010)',
 '(1988)',
 '(2019)',
 '(2007)',
 '(2008)',
 '(2018)',
 '(2013)',
 '(1996)',
 '(2020)',
 '(2021)',
 '(2022)',
 '(2018)',
 '(2014)']

In [20]:
rate = []
for i in soup.find_all('td', class_="ratingColumn imdbRating"):
    rate.append(i.text.split('\n')[1])
rate

['8.6',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.6']

In [21]:
import pandas as pd
df = pd.DataFrame({'Name':movie_name, 'Ratings': rate, 'Year Of Release': release})
df.head(50)

                                         Name Ratings Year Of Release
0         Ramayana: The Legend of Prince Rama     8.6          (1993)
1                  Rocketry: The Nambi Effect     8.4          (2022)
2                                     Nayakan     8.4          (1987)
3                                    Gol Maal     8.4          (1979)
4                                  Anbe Sivam     8.4          (2003)
5                                 777 Charlie     8.4          (2022)
6                                    Jai Bhim     8.4          (2021)
7                           Pariyerum Perumal     8.4          (2018)
8                                    3 Idiots     8.4          (2009)
9                                 Apur Sansar     8.4          (1959)
10                           Manichitrathazhu     8.4          (1993)
11                                      #Home     8.3          (2021)
12                            Soorarai Pottru     8.3          (2020)
13                               Black Friday     8.3          (2004)
14                          Kumbalangi Nights     8.3          (2019)
15                          C/o Kancharapalem     8.3          (2018)
16                           Taare Zameen Par     8.3          (2007)
17                                   Kireedam     8.3          (1989)
18                                     Dangal     8.3          (2016)
19                                     Kaithi     8.3          (2019)
20                                     Jersey     8.3          (2019)
21                                         96     8.3          (2018)
22                                Maya Bazaar     8.2          (1957)
23                                  Natsamrat     8.2          (2016)
24                                 Sita Ramam     8.2          (2022)
25                                 Drishyam 2     8.2          (2021)
26                                     Asuran     8.2          (2019)
27                               Thevar Magan     8.2          (1992)
28                                 Visaaranai     8.2          (2015)
29                        Sarpatta Parambarai     8.2          (2021)
30                                 Thalapathi     8.2          (1991)
31                            Pather Panchali     8.2          (1955)
32                               Nadodikkattu     8.2          (1987)
33                                   Drishyam     8.2          (2013)
34                         Jaane Bhi Do Yaaro     8.2          (1983)
35                               Thani Oruvan     8.2          (2015)
36                               Sardar Udham     8.2          (2021)
37                                  Aparajito     8.2          (1956)
38                               Vada Chennai     8.2          (2018)
39                          Khosla Ka Ghosla!     8.2          (2006)
40                                    Anniyan     8.2          (2005)
41                                   Ratsasan     8.1          (2018)
42                              Chupke Chupke     8.1          (1975)
43                         Gangs of Wasseypur     8.1          (2012)
44                                    Peranbu     8.1          (2018)
45                                   Drishyam     8.1          (2015)
46                             Bangalore Days     8.1          (2014)
47                                   Mahanati     8.1          (2018)
48                                      Satya     8.1          (1998)
49                                     Premam     8.1          (2015)

Question 4

In [22]:
page = requests.get('https://presidentofindia.nic.in/former-presidents.htm')
page

In [24]:
names = []
for i in soup.find_all('div',class_="presidentListing"):
    names.append(i.text.split('\n')[1])
names

['Shri Ram Nath Kovind (birth - 1945)',
 'Shri Pranab Mukherjee (1935-2020)',
 'Smt Pratibha Devisingh Patil (birth - 1934)',
 'DR. A.P.J. Abdul Kalam (1931-2015)',
 'Shri K. R. Narayanan (1920 - 2005)',
 'Dr Shankar Dayal Sharma (1918-1999)',
 'Shri R Venkataraman (1910-2009)',
 'Giani Zail Singh (1916-1994)',
 'Shri Neelam Sanjiva Reddy (1913-1996)',
 'Dr. Fakhruddin Ali Ahmed (1905-1977)',
 'Shri Varahagiri Venkata Giri (1894-1980)',
 'Dr. Zakir Husain (1897-1969)',
 'Dr. Sarvepalli Radhakrishnan (1888-1975)',
 'Dr. Rajendra Prasad (1884-1963) ']

In [25]:
term = []
for i in soup.find_all('div', class_="presidentListing"):
    term.append(i.text.split('\n')[2])
term

['Term of Office: 25 July, 2017 to 25 July, 2022 ',
 'Term of Office: 25 July, 2012 to 25 July, 2017 ',
 'Term of Office: 25 July, 2007 to 25 July, 2012 ',
 'Term of Office: 25 July, 2002 to 25 July, 2007 ',
 'Term of Office: 25 July, 1997 to 25 July, 2002 ',
 'Term of Office: 25 July, 1992 to 25 July, 1997 ',
 'Term of Office: 25 July, 1987 to 25 July, 1992 ',
 'Term of Office: 25 July, 1982 to 25 July, 1987 ',
 'Term of Office: 25 July, 1977 to 25 July, 1982 ',
 'Term of Office: 24 August, 1974 to 11 February, 1977',
 'Term of Office: 3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974',
 'Term of Office: 13 May, 1967 to 3 May, 1969',
 'Term of Office: 13 May, 1962 to 13 May, 1967',
 'Term of Office: 26 January, 1950 to 13 May, 1962']

In [26]:
import pandas as pd
df = pd.DataFrame({'Name':names, 'Term of Office':term})
df

,Name,Term of Office
0,Shri Ram Nath Kovind (birth - 1945),"Term of Office: 25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee (1935-2020),"Term of Office: 25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil (birth - 1934),"Term of Office: 25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam (1931-2015),"Term of Office: 25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan (1920 - 2005),"Term of Office: 25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma (1918-1999),"Term of Office: 25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman (1910-2009),"Term of Office: 25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh (1916-1994),"Term of Office: 25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy (1913-1996),"Term of Office: 25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed (1905-1977),"Term of Office: 24 August, 1974 to 11 February..."
10,Shri Varahagiri Venkata Giri (1894-1980),"Term of Office: 3 May, 1969 to 20 July, 1969 a..."
11,Dr. Zakir Husain (1897-1969),"Term of Office: 13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan (1888-1975),"Term of Office: 13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad (1884-1963),"Term of Office: 26 January, 1950 to 13 May, 1962"

Question 5

Part A

In [27]:
page = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
page

In [29]:
team = []
first_team = soup.find('span', class_="u-hide-phablet")
team.append(first_team.text)

for i in soup.find_all('tr',class_="table-body"):
    team.append(i.text.split('\n')[4])
team

['India',
 'Australia',
 'New Zealand',
 'England',
 'Pakistan',
 'South Africa',
 'Bangladesh',
 'Sri Lanka',
 'Afghanistan',
 'West Indies',
 'Ireland',
 'Scotland',
 'Zimbabwe',
 'Namibia',
 'Netherlands',
 'Oman',
 'UAE',
 'United States',
 'Nepal',
 'Papua New Guinea']

In [30]:
matches = []
first_match = soup.find('td', class_="rankings-block__banner--matches")
matches.append(first_match.text)

for i in soup.find_all('tr',class_="table-body"):
    matches.append(i.text.split('\n')[7])
matches

['44',
 '32',
 '29',
 '33',
 '25',
 '27',
 '33',
 '34',
 '20',
 '41',
 '25',
 '31',
 '28',
 '27',
 '21',
 '30',
 '25',
 '31',
 '29',
 '30']

In [31]:
points = []
first_point = soup.find('td', class_="rankings-block__banner--points")
points.append(first_point.text)
for i in soup.find_all('tr',class_="table-body"):
    points.append(i.text.split('\n')[8])
points

['5,010',
 '3,572',
 '3,229',
 '3,656',
 '2,649',
 '2,775',
 '3,129',
 '2,976',
 '1,419',
 '2,902',
 '1,300',
 '1,459',
 '1,201',
 '937',
 '673',
 '919',
 '693',
 '821',
 '543',
 '128']

In [32]:
rating = []
first_rating = soup.find('td', class_="rankings-block__banner--rating u-text-right")
rating.append(first_rating.text.split('\n')[1])
for i in soup.find_all('tr',class_="table-body"):
    rating.append(i.text.split('\n')[9])
rating

['                            114',
 '112',
 '111',
 '111',
 '106',
 '103',
 '95',
 '88',
 '71',
 '71',
 '52',
 '47',
 '43',
 '35',
 '32',
 '31',
 '28',
 '26',
 '19',
 '4']

In [33]:
import pandas as pd
df = pd.DataFrame({'Team':team, 'Matches':matches, 'Points': points, 'Ratings':rating})
df.head(10)

           Team Matches Points                          Ratings
0         India      44  5,010                              114
1     Australia      32  3,572                              112
2   New Zealand      29  3,229                              111
3       England      33  3,656                              111
4      Pakistan      25  2,649                              106
5  South Africa      27  2,775                              103
6    Bangladesh      33  3,129                               95
7     Sri Lanka      34  2,976                               88
8   Afghanistan      20  1,419                               71
9   West Indies      41  2,902                               71

Part B

In [34]:
page = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
page

In [36]:
player = []
first_player = soup.find('div', class_="rankings-block__banner--name-large")
player.append(first_player.text)

for i in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    player.append(i.text.split('\n')[1])
player[:10]

['Babar Azam',
 'Rassie van der Dussen',
 'David Warner',
 'Quinton de Kock',
 'Imam-ul-Haq',
 'Shubman Gill',
 'Virat Kohli',
 'Steve Smith',
 'Rohit Sharma',
 'Kane Williamson']

In [37]:
team= []
first_team = soup.find('div', class_="rankings-block__banner--nationality")
team.append(first_team.text.split('\n')[2])

for i in soup.find_all('span',class_="table-body__logo-text"):
    team.append(i.text)
team[:10]

['PAK', 'SA', 'AUS', 'SA', 'PAK', 'IND', 'IND', 'AUS', 'IND', 'NZ']

In [38]:
rate2= []
first_rate2 = soup.find('div', class_="rankings-block__banner--rating")
rate2.append(first_rate2.text)

for i in soup.find_all('td',class_="table-body__cell rating"):
    rate2.append(i.text)
rate2[:10]

['887', '787', '747', '743', '740', '734', '727', '719', '719', '700']

In [39]:
import pandas as pd
df = pd.DataFrame({'Team':team, 'Player':player, 'Ratings':rate2})
df.head(10)

  Team                 Player Ratings
0  PAK             Babar Azam     887
1   SA  Rassie van der Dussen     787
2  AUS           David Warner     747
3   SA        Quinton de Kock     743
4  PAK            Imam-ul-Haq     740
5  IND           Shubman Gill     734
6  IND            Virat Kohli     727
7  AUS            Steve Smith     719
8  IND           Rohit Sharma     719
9   NZ        Kane Williamson     700

Part C

In [40]:
page = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
page

In [42]:
player = []
first_player = soup.find('div', class_="rankings-block__banner--name-large")
player.append(first_player.text)

for i in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    player.append(i.text.split('\n')[1])
player[:10]

['Mohammed Siraj',
 'Josh Hazlewood',
 'Trent Boult',
 'Mitchell Starc',
 'Rashid Khan',
 'Adam Zampa',
 'Shakib Al Hasan',
 'Shaheen Afridi',
 'Mustafizur Rahman',
 'Mujeeb Ur Rahman']

In [43]:
team= []
first_team = soup.find('div', class_="rankings-block__banner--nationality")
team.append(first_team.text.split('\n')[2])

for i in soup.find_all('span',class_="table-body__logo-text"):
    team.append(i.text)
team[:10]

['IND', 'AUS', 'NZ', 'AUS', 'AFG', 'AUS', 'BAN', 'PAK', 'BAN', 'AFG']

In [44]:
rate2= []
first_rate2 = soup.find('div', class_="rankings-block__banner--rating")
rate2.append(first_rate2.text)

for i in soup.find_all('td',class_="table-body__cell rating"):
    rate2.append(i.text)
rate2[:10]

['729', '727', '708', '665', '659', '655', '652', '641', '638', '637']

In [45]:
import pandas as pd
df = pd.DataFrame({'Team':team, 'Player':player, 'Ratings':rate2})
df.head(10)

  Team             Player Ratings
0  IND     Mohammed Siraj     729
1  AUS     Josh Hazlewood     727
2   NZ        Trent Boult     708
3  AUS     Mitchell Starc     665
4  AFG        Rashid Khan     659
5  AUS         Adam Zampa     655
6  BAN    Shakib Al Hasan     652
7  PAK     Shaheen Afridi     641
8  BAN  Mustafizur Rahman     638
9  AFG   Mujeeb Ur Rahman     637

Question 6

Part A

In [46]:
page = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
page

In [48]:
team = []
first_team = soup.find('span', class_="u-hide-phablet")
team.append(first_team.text)

for i in soup.find_all('tr',class_="table-body"):
    team.append(i.text.split('\n')[4])
team

['Australia',
 'England',
 'South Africa',
 'India',
 'New Zealand',
 'West Indies',
 'Bangladesh',
 'Thailand',
 'Pakistan',
 'Sri Lanka',
 'Ireland',
 'Netherlands',
 'Zimbabwe']

In [49]:
matches = []
first_match = soup.find('td', class_="rankings-block__banner--matches")
matches.append(first_match.text)

for i in soup.find_all('tr',class_="table-body"):
    matches.append(i.text.split('\n')[7])
matches

['21', '28', '26', '27', '25', '27', '13', '8', '27', '8', '14', '9', '8']

In [50]:
points = []
first_point = soup.find('td', class_="rankings-block__banner--points")
points.append(first_point.text)
for i in soup.find_all('tr',class_="table-body"):
    points.append(i.text.split('\n')[8])
points

['3,603',
 '3,342',
 '3,098',
 '2,820',
 '2,553',
 '2,535',
 '983',
 '572',
 '1,678',
 '353',
 '548',
 '0',
 '0']

In [51]:
rating = []
first_rating = soup.find('td', class_="rankings-block__banner--rating u-text-right")
rating.append(first_rating.text.split('\n')[1])
for i in soup.find_all('tr',class_="table-body"):
    rating.append(i.text.split('\n')[9])
rating

['                            172',
 '119',
 '119',
 '104',
 '102',
 '94',
 '76',
 '72',
 '62',
 '44',
 '39',
 '0',
 '0']

In [52]:
import pandas as pd
df = pd.DataFrame({'Team':team, 'Matches':matches, 'Points': points, 'Ratings':rating})
df.head(10)

           Team Matches Points                          Ratings
0     Australia      21  3,603                              172
1       England      28  3,342                              119
2  South Africa      26  3,098                              119
3         India      27  2,820                              104
4   New Zealand      25  2,553                              102
5   West Indies      27  2,535                               94
6    Bangladesh      13    983                               76
7      Thailand       8    572                               72
8      Pakistan      27  1,678                               62
9     Sri Lanka       8    353                               44

Part B

In [53]:
page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
page

In [55]:
player = []
first_player = soup.find('div', class_="rankings-block__banner--name-large")
player.append(first_player.text)

for i in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    player.append(i.text.split('\n')[1])
player[:10]

['Alyssa Healy',
 'Beth Mooney',
 'Laura Wolvaardt',
 'Natalie Sciver',
 'Meg Lanning',
 'Harmanpreet Kaur',
 'Smriti Mandhana',
 'Rachael Haynes',
 'Chamari Athapaththu',
 'Amy Satterthwaite']

In [56]:
team= []
first_team = soup.find('div', class_="rankings-block__banner--nationality")
team.append(first_team.text.split('\n')[2])

for i in soup.find_all('span',class_="table-body__logo-text"):
    team.append(i.text)
team[:10]

['AUS', 'AUS', 'SA', 'ENG', 'AUS', 'IND', 'IND', 'AUS', 'SL', 'NZ']

In [57]:
rate2= []
first_rate2 = soup.find('div', class_="rankings-block__banner--rating")
rate2.append(first_rate2.text)

for i in soup.find_all('td',class_="table-body__cell rating"):
    rate2.append(i.text)
rate2[:10]

['762', '754', '732', '731', '717', '716', '714', '680', '655', '641']

In [58]:
import pandas as pd
df = pd.DataFrame({'Team':team, 'Player':player, 'Ratings':rate2})
df.head(10)

  Team               Player Ratings
0  AUS         Alyssa Healy     762
1  AUS          Beth Mooney     754
2   SA      Laura Wolvaardt     732
3  ENG       Natalie Sciver     731
4  AUS          Meg Lanning     717
5  IND     Harmanpreet Kaur     716
6  IND      Smriti Mandhana     714
7  AUS       Rachael Haynes     680
8   SL  Chamari Athapaththu     655
9   NZ    Amy Satterthwaite     641

Part C

In [59]:
page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
page

In [61]:
player = []
first_player = soup.find('div', class_="rankings-block__banner--name-large")
player.append(first_player.text)

for i in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    player.append(i.text.split('\n')[1])
player[:10]

['Hayley Matthews',
 'Natalie Sciver',
 'Ellyse Perry',
 'Marizanne Kapp',
 'Amelia Kerr',
 'Deepti Sharma',
 'Ashleigh Gardner',
 'Jess Jonassen',
 'Nida Dar',
 'Jhulan Goswami']

In [62]:
team= []
first_team = soup.find('div', class_="rankings-block__banner--nationality")
team.append(first_team.text.split('\n')[2])

for i in soup.find_all('span',class_="table-body__logo-text"):
    team.append(i.text)
team[:10]

['WI', 'ENG', 'AUS', 'SA', 'NZ', 'IND', 'AUS', 'AUS', 'PAK', 'IND']

In [63]:
rate2= []
first_rate2 = soup.find('div', class_="rankings-block__banner--rating")
rate2.append(first_rate2.text)

for i in soup.find_all('td',class_="table-body__cell rating"):
    rate2.append(i.text)
rate2[:10]

['373', '371', '366', '349', '336', '322', '292', '250', '232', '214']

In [64]:
import pandas as pd
df = pd.DataFrame({'Team':team, 'Player':player, 'Ratings':rate2})
df.head(10)

  Team            Player Ratings
0   WI   Hayley Matthews     373
1  ENG    Natalie Sciver     371
2  AUS      Ellyse Perry     366
3   SA    Marizanne Kapp     349
4   NZ       Amelia Kerr     336
5  IND     Deepti Sharma     322
6  AUS  Ashleigh Gardner     292
7  AUS     Jess Jonassen     250
8  PAK          Nida Dar     232
9  IND    Jhulan Goswami     214

Question  7

In [65]:
page = requests.get('https://www.cnbc.com/world/?region=world')
page

In [67]:
time = []
for i in soup.find_all('time',class_="LatestNews-timestamp"):
    time.append(i.text)
time

['12 Min Ago',
 '37 Min Ago',
 '45 Min Ago',
 '47 Min Ago',
 '1 Hour Ago',
 '1 Hour Ago',
 '2 Hours Ago',
 '2 Hours Ago',
 '2 Hours Ago',
 '2 Hours Ago',
 '3 Hours Ago',
 '3 Hours Ago',
 '3 Hours Ago',
 '3 Hours Ago',
 '4 Hours Ago',
 '4 Hours Ago',
 '4 Hours Ago',
 '4 Hours Ago',
 '5 Hours Ago',
 '5 Hours Ago',
 '5 Hours Ago',
 '5 Hours Ago',
 '5 Hours Ago',
 '5 Hours Ago',
 '5 Hours Ago',
 '5 Hours Ago',
 '5 Hours Ago',
 '5 Hours Ago',
 '5 Hours Ago',
 '6 Hours Ago']

In [68]:
news = []
for i in soup.find_all('a',class_="LatestNews-headline"):
    news.append(i.text)
news

['The best fixed income deals for investors as interest rates surge higher',
 'Rocket Lab quarterly revenue stays steady as space company doubles order backlog',
 'Norwegian Cruise Line shares fall 10% after company issues soft outlook',
 'FDA advisors recommend Pfizer RSV vaccine for older adults despite risks',
 'Rivian posts mixed fourth quarter and underwhelming EV production outlook',
 'Virgin Galactic completes lengthy upgrade process ahead of resuming spaceflights',
 'Bitcoin, ether on track for a positive February despite fading 2023 risk rally',
 "As sales slow, Target leans into 'affordable joy' and its cheap chic reputation",
 "How watching videos of police brutality impact Black People's mental health",
 'These stocks won February — but it may be time to dump 2 popular tech plays',
 "High home prices, rising mortgage rates: It's tough being a first-time homebuyer",
 'Biden taps CEOs of 3M, CVS, FedEx, Citi, others to join Export Council on trade',
 'Washington state is holding its first carbon allowance auction',
 'These are the most popular ETFs among investors heading into March',
 "We're adding to our position in this robust medical technology player",
 'This biotech startup has a chance to grab a piece of the obesity drug market',
 'What to know as student debt forgiveness heads to the Supreme Court',
 'Biden warns of GOP plans to curb access to health care ',
 'Black real estate developers get access to big capital through Philadelphia program',
 'Stocks making the biggest moves midday: Norwegian Cruise Line, Target & more',
 "Corporate CFOs are going through their own 'Great Resignation'",
 "These 'fortress' stocks are beating market this year as a perilous March looms",
 "DeSantis calls for 'crippling the ESG movement' in new book",
 'UAW leadership faces historic upheaval ahead of automakers negotiations',
 "'Ant-Man and the Wasp: Quantumania' box office had steep decline in second week",
 'FTX ex-engineering chief Nishad Singh pleads guilty to criminal charges',
 '3 investing lessons from the Club’s meeting Tuesday',
 "Bank of America says A.I. 'is the new electricity,’ names its top picks",
 'Annual Meeting update on 10 tech stocks, plus Disney, in the Club portfolio',
 'Bond yields are close to a major psychological level that could spook stocks']

In [69]:
link = []
for i in soup.find_all('a',class_="LatestNews-headline"):
    link.append(i.get('href'))
link

['https://www.cnbc.com/2023/02/28/the-best-fixed-income-deals-for-investors-as-interest-rates-surge-higher.html',
 'https://www.cnbc.com/2023/02/28/rocket-lab-rklb-q4-2022-earnings.html',
 'https://www.cnbc.com/2023/02/28/norwegian-cruise-line-shares-fall-earnings.html',
 'https://www.cnbc.com/2023/02/28/rsv-vaccine-fda-committee-votes-on-pfizer-shot-for-older-adults.html',
 'https://www.cnbc.com/2023/02/28/rivian-rivn-earnings-q4-2022.html',
 'https://www.cnbc.com/2023/02/28/virgin-galactic-spce-q4-2022-earnings.html',
 'https://www.cnbc.com/2023/02/28/bitcoin-ether-on-track-for-a-positive-february-despite-fading-2023-risk-rally.html',
 'https://www.cnbc.com/2023/02/28/target-affordable-joy-cheap-chic-sales-slow.html',
 'https://www.cnbc.com/2023/02/28/how-videos-of-police-brutality-can-harm-black-peoples-mental-health.html',
 'https://www.cnbc.com/2023/02/28/these-stocks-won-february-but-it-may-be-time-to-dump-2-popular-tech-plays.html',
 'https://www.cnbc.com/2023/02/28/home-prices-mortgage-rates-its-tough-being-a-first-time-homebuyer.html',
 'https://www.cnbc.com/2023/02/28/biden-taps-ceos-of-3m-cvs-fedex-citi-others-to-join-his-export-council-on-trade.html',
 'https://www.cnbc.com/2023/02/28/washington-state-is-holding-its-first-carbon-allowance-auction.html',
 'https://www.cnbc.com/2023/02/28/these-are-the-most-popular-etfs-among-investors-heading-into-march.html',
 'https://www.cnbc.com/2023/02/28/were-adding-to-our-position-in-this-robust-medical-technology-player.html',
 'https://www.cnbc.com/2023/02/28/this-startup-can-grab-a-piece-of-the-lucrative-obesity-drug-market.html',
 'https://www.cnbc.com/2023/02/28/student-debt-forgiveness-heads-to-the-supreme-courtwhat-to-know.html',
 'https://www.cnbc.com/2023/02/28/watch-live-biden-warns-of-gop-plans-to-curb-health-care-in-virginia.html',
 'https://www.cnbc.com/2023/02/28/black-real-estate-developers-access-capital.html',
 'https://www.cnbc.com/2023/02/28/stocks-making-the-biggest-moves-midday-nclh-tgt-aap.html',
 'https://www.cnbc.com/2023/02/28/corporate-cfos-are-going-through-their-own-great-resignation.html',
 'https://www.cnbc.com/2023/02/28/fortress-stocks-beating-the-market-this-year-for-a-perilous-march.html',
 'https://www.cnbc.com/2023/02/28/ron-desantis-calls-for-crippling-the-esg-movement-in-new-book.html',
 'https://www.cnbc.com/2023/02/28/uaw-presidential-runoff.html',
 'https://www.cnbc.com/2023/02/28/ant-man-and-the-wasp-quantumania-box-office.html',
 'https://www.cnbc.com/2023/02/28/ftx-ex-engineering-head-nishad-singh-pleads-guilty-to-criminal-charges.html',
 'https://www.cnbc.com/2023/02/28/jim-cramers-investing-club-meeting-tuesday-oil-meta-linde.html',
 'https://www.cnbc.com/2023/02/28/bank-of-america-says-ai-is-the-new-electricity-names-its-top-picks-to-play-the-breakout-trend.html',
 'https://www.cnbc.com/2023/02/28/heres-our-annual-meeting-update-on-10-tech-stocks-plus-disney-in-the-club-portfolio.html',
 'https://www.cnbc.com/2023/02/28/bond-yields-are-close-to-a-major-psychological-level-that-could-really-spook-the-stock-market.html']

In [70]:
import pandas as pd
df = pd.DataFrame({'Headline':news, 'Time':time, 'Links': link})
df

,Headline,Time,Links
0,The best fixed income deals for investors as i...,12 Min Ago,https://www.cnbc.com/2023/02/28/the-best-fixed...
1,Rocket Lab quarterly revenue stays steady as s...,37 Min Ago,https://www.cnbc.com/2023/02/28/rocket-lab-rkl...
2,Norwegian Cruise Line shares fall 10% after co...,45 Min Ago,https://www.cnbc.com/2023/02/28/norwegian-crui...
3,FDA advisors recommend Pfizer RSV vaccine for ...,47 Min Ago,https://www.cnbc.com/2023/02/28/rsv-vaccine-fd...
4,Rivian posts mixed fourth quarter and underwhe...,1 Hour Ago,https://www.cnbc.com/2023/02/28/rivian-rivn-ea...
5,Virgin Galactic completes lengthy upgrade proc...,1 Hour Ago,https://www.cnbc.com/2023/02/28/virgin-galacti...
6,"Bitcoin, ether on track for a positive Februar...",2 Hours Ago,https://www.cnbc.com/2023/02/28/bitcoin-ether-...
7,"As sales slow, Target leans into 'affordable j...",2 Hours Ago,https://www.cnbc.com/2023/02/28/target-afforda...
8,How watching videos of police brutality impact...,2 Hours Ago,https://www.cnbc.com/2023/02/28/how-videos-of-...
9,These stocks won February — but it may be time...,2 Hours Ago,https://www.cnbc.com/2023/02/28/these-stocks-w...
10,"High home prices, rising mortgage rates: It's ...",3 Hours Ago,https://www.cnbc.com/2023/02/28/home-prices-mo...
11,"Biden taps CEOs of 3M, CVS, FedEx, Citi, other...",3 Hours Ago,https://www.cnbc.com/2023/02/28/biden-taps-ceo...
12,Washington state is holding its first carbon a...,3 Hours Ago,https://www.cnbc.com/2023/02/28/washington-sta...
13,These are the most popular ETFs among investor...,3 Hours Ago,https://www.cnbc.com/2023/02/28/these-are-the-...
14,We're adding to our position in this robust me...,4 Hours Ago,https://www.cnbc.com/2023/02/28/were-adding-to...
15,This biotech startup has a chance to grab a pi...,4 Hours Ago,https://www.cnbc.com/2023/02/28/this-startup-c...
16,What to know as student debt forgiveness heads...,4 Hours Ago,https://www.cnbc.com/2023/02/28/student-debt-f...
17,Biden warns of GOP plans to curb access to hea...,4 Hours Ago,https://www.cnbc.com/2023/02/28/watch-live-bid...
18,Black real estate developers get access to big...,5 Hours Ago,https://www.cnbc.com/2023/02/28/black-real-est...
19,Stocks making the biggest moves midday: Norweg...,5 Hours Ago,https://www.cnbc.com/2023/02/28/stocks-making-...
20,Corporate CFOs are going through their own 'Gr...,5 Hours Ago,https://www.cnbc.com/2023/02/28/corporate-cfos...
21,These 'fortress' stocks are beating market thi...,5 Hours Ago,https://www.cnbc.com/2023/02/28/fortress-stock...
22,DeSantis calls for 'crippling the ESG movement...,5 Hours Ago,https://www.cnbc.com/2023/02/28/ron-desantis-c...
23,UAW leadership faces historic upheaval ahead o...,5 Hours Ago,https://www.cnbc.com/2023/02/28/uaw-presidenti...
24,'Ant-Man and the Wasp: Quantumania' box office...,5 Hours Ago,https://www.cnbc.com/2023/02/28/ant-man-and-th...
25,FTX ex-engineering chief Nishad Singh pleads g...,5 Hours Ago,https://www.cnbc.com/2023/02/28/ftx-ex-enginee...
26,3 investing lessons from the Club’s meeting Tu...,5 Hours Ago,https://www.cnbc.com/2023/02/28/jim-cramers-in...
27,Bank of America says A.I. 'is the new electric...,5 Hours Ago,https://www.cnbc.com/2023/02/28/bank-of-americ...
28,"Annual Meeting update on 10 tech stocks, plus ...",5 Hours Ago,https://www.cnbc.com/2023/02/28/heres-our-annu...
29,Bond yields are close to a major psychological...,6 Hours Ago,https://www.cnbc.com/2023/02/28/bond-yields-ar...

Question 8

In [71]:
page = requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
page

In [73]:
title = []
for i in soup.find_all('h2',class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg"):
    title.append(i.text)
title

['Reward is enough',
 'Making sense of raw input',
 'Law and logic: A review from an argumentation perspective',
 'Creativity and artificial intelligence',
 'Artificial cognition for social human–robot interaction: An implementation',
 'Explanation in artificial intelligence: Insights from the social sciences',
 'Making sense of sensory input',
 'Conflict-based search for optimal multi-agent pathfinding',
 'Between MDPs and semi-MDPs: A framework for temporal abstraction in reinforcement learning',
 'The Hanabi challenge: A new frontier for AI research',
 'Evaluating XAI: A comparison of rule-based and example-based explanations',
 'Argumentation in artificial intelligence',
 'Algorithms for computing strategies in two-player simultaneous move games',
 'Multiple object tracking: A literature review',
 'Selection of relevant features and examples in machine learning',
 'A survey of inverse reinforcement learning: Challenges, methods and progress',
 'Explaining individual predictions when features are dependent: More accurate approximations to Shapley values',
 'A review of possible effects of cognitive biases on interpretation of rule-based machine learning models',
 'Integrating social power into the decision-making of cognitive agents',
 "“That's (not) the output I expected!” On the role of end user expectations in creating explanations of AI systems",
 'Explaining black-box classifiers using post-hoc explanations-by-example: The effect of explanations and error-rates in XAI user studies',
 'Algorithm runtime prediction: Methods & evaluation',
 'Wrappers for feature subset selection',
 'Commonsense visual sensemaking for autonomous driving – On generalised neurosymbolic online abduction integrating vision and semantics',
 'Quantum computation, quantum theory and AI']

In [74]:
author = []
for i in soup.find_all('span',class_="sc-1w3fpd7-0 dnCnAO"):
    author.append(i.text)
author

['Silver, David, Singh, Satinder, Precup, Doina, Sutton, Richard S. ',
 'Evans, Richard, Bošnjak, Matko and 5 more',
 'Prakken, Henry, Sartor, Giovanni ',
 'Boden, Margaret A. ',
 'Lemaignan, Séverin, Warnier, Mathieu and 3 more',
 'Miller, Tim ',
 'Evans, Richard, Hernández-Orallo, José and 3 more',
 'Sharon, Guni, Stern, Roni, Felner, Ariel, Sturtevant, Nathan R. ',
 'Sutton, Richard S., Precup, Doina, Singh, Satinder ',
 'Bard, Nolan, Foerster, Jakob N. and 13 more',
 'van der Waa, Jasper, Nieuwburg, Elisabeth, Cremers, Anita, Neerincx, Mark ',
 'Bench-Capon, T.J.M., Dunne, Paul E. ',
 'Bošanský, Branislav, Lisý, Viliam and 3 more',
 'Luo, Wenhan, Xing, Junliang and 4 more',
 'Blum, Avrim L., Langley, Pat ',
 'Arora, Saurabh, Doshi, Prashant ',
 'Aas, Kjersti, Jullum, Martin, Løland, Anders ',
 'Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Johannes ',
 'Pereira, Gonçalo, Prada, Rui, Santos, Pedro A. ',
 'Riveiro, Maria, Thill, Serge ',
 'Kenny, Eoin M., Ford, Courtney, Quinn, Molly, Keane, Mark T. ',
 'Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyton-Brown, Kevin ',
 'Kohavi, Ron, John, George H. ',
 'Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srikrishna ',
 'Ying, Mingsheng ']

In [75]:
date = []
for i in soup.find_all('span',class_="sc-1thf9ly-2 dvggWt"):
    date.append(i.text)
date

['October 2021',
 'October 2021',
 'October 2015',
 'August 1998',
 'June 2017',
 'February 2019',
 'April 2021',
 'February 2015',
 'August 1999',
 'March 2020',
 'February 2021',
 'October 2007',
 'August 2016',
 'April 2021',
 'December 1997',
 'August 2021',
 'September 2021',
 'June 2021',
 'December 2016',
 'September 2021',
 'May 2021',
 'January 2014',
 'December 1997',
 'October 2021',
 'February 2010']

In [76]:
links = []
for i in soup.find_all('a',class_="sc-5smygv-0 fIXTHm"):
    links.append(i.get('href'))
links

['https://www.sciencedirect.com/science/article/pii/S0004370221000862',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000722',
 'https://www.sciencedirect.com/science/article/pii/S0004370215000910',
 'https://www.sciencedirect.com/science/article/pii/S0004370298000551',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300790',
 'https://www.sciencedirect.com/science/article/pii/S0004370218305988',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301855',
 'https://www.sciencedirect.com/science/article/pii/S0004370214001386',
 'https://www.sciencedirect.com/science/article/pii/S0004370299000521',
 'https://www.sciencedirect.com/science/article/pii/S0004370219300116',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301533',
 'https://www.sciencedirect.com/science/article/pii/S0004370207000793',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300285',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301958',
 'https://www.sciencedirect.com/science/article/pii/S0004370297000635',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000515',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000539',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000096',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300868',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000588',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000102',
 'https://www.sciencedirect.com/science/article/pii/S0004370213001082',
 'https://www.sciencedirect.com/science/article/pii/S000437029700043X',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000734',
 'https://www.sciencedirect.com/science/article/pii/S0004370209001398']

In [77]:
import pandas as pd
df = pd.DataFrame({'Paper Title':title, 'Author':author ,'Published Date':date, 'Paper Url': links})
df

,Paper Title,Author,Published Date,Paper Url
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

Question 9

In [78]:
page = requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
page

In [80]:
rname = []
for i in soup.find_all('a',class_="restnt-name ellipsis"):
    rname.append(i.text)
rname

['Castle Barbeque',
 'Jungle Jamboree',
 'Cafe Knosh',
 'Castle Barbeque',
 'The Barbeque Company',
 'India Grill',
 'Delhi Barbeque',
 'The Monarch - Bar Be Que Village',
 'Indian Grill Room']

In [81]:
loc = []
for i in soup.find_all('div',class_="restnt-loc ellipsis"):
    loc.append(i.text)
loc

['Connaught Place, Central Delhi',
 '3CS Mall,Lajpat Nagar - 3, South Delhi',
 'The Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'Pacific Mall,Tagore Garden, West Delhi',
 'Gardens Galleria,Sector 38A, Noida',
 'Hilton Garden Inn,Saket, South Delhi',
 'Taurus Sarovar Portico,Mahipalpur, South Delhi',
 'Indirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'Suncity Business Tower,Golf Course Road, Gurgaon']

In [82]:
img = []
for i in soup.find_all('img',class_="no-img"):
    img.append(i.get('data-src'))
img

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/p/m/p59633-166088382462ff137009010.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/p/m/p406-15438184745c04ccea491bc.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/j/o/p38113-15959192065f1fcb666130c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/p/k/p79307-16051787755fad1597f2bf9.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/v/t/p2687-1482477169585cce712b90f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/d/i/p52501-1661855212630de5eceb6d2.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/y/f/p549-165000147262590640c0afc.jpg?tr=tr:n-medium']

In [83]:
price = []
for i in soup.find_all('span',class_="double-line-ellipsis"):
    price.append(i.text.split('|')[0])
price

['₹ 2,000 for 2 (approx) ',
 '₹ 1,680 for 2 (approx) ',
 '₹ 3,000 for 2 (approx) ',
 '₹ 2,000 for 2 (approx) ',
 '₹ 1,700 for 2 (approx) ',
 '₹ 2,400 for 2 (approx) ',
 '₹ 1,800 for 2 (approx) ',
 '₹ 1,900 for 2 (approx) ',
 '₹ 2,200 for 2 (approx) ']

In [84]:
rating1 = []
for i in soup.find_all('div',class_="restnt-rating rating-4"):
    rating1.append(i.text)
rating1

['4.1', '3.9', '4.3', '3.9', '3.9', '3.9', '3.6', '3.8', '4.3']

In [85]:
cuisine = []
for i in soup.find_all('span',class_="double-line-ellipsis"):
    cuisine.append(i.text.split('|')[1])
cuisine

[' Chinese, North Indian',
 ' North Indian, Asian, Italian',
 ' Italian, Continental',
 ' Chinese, North Indian',
 ' North Indian, Chinese',
 ' North Indian, Italian',
 ' North Indian',
 ' North Indian',
 ' North Indian, Mughlai']

In [86]:
import pandas as pd
df = pd.DataFrame({'Restaurant Name':rname, 'Cuisine':cuisine ,'Ratings': rating1, 'Location':loc, 'Image url':img})
df

,Restaurant Name,Cuisine,Ratings,Location,Image url
0,Castle Barbeque,"Chinese, North Indian",4.1,"Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"North Indian, Asian, Italian",3.9,"3CS Mall,Lajpat Nagar - 3, South Delhi",https://im1.dineout.co.in/images/uploads/resta...
2,Cafe Knosh,"Italian, Continental",4.3,"The Leela Ambience Convention Hotel,Shahdara, ...",https://im1.dineout.co.in/images/uploads/resta...
3,Castle Barbeque,"Chinese, North Indian",3.9,"Pacific Mall,Tagore Garden, West Delhi",https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian, Chinese",3.9,"Gardens Galleria,Sector 38A, Noida",https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"North Indian, Italian",3.9,"Hilton Garden Inn,Saket, South Delhi",https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,North Indian,3.6,"Taurus Sarovar Portico,Mahipalpur, South Delhi",https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,North Indian,3.8,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"North Indian, Mughlai",4.3,"Suncity Business Tower,Golf Course Road, Gurgaon",https://im1.dineout.co.in/images/uploads/resta...